     body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background: linear-gradient(95deg, #FFB300, #FFCA28, #FFF3B0);

            color: white;
            text-align: center;
        }

        /* Simple Horizontal Navbar */
        table {
               background: rgba(255, 255, 255, 0.2);
               margin: 0;
          border-spacing: 10px;
               height: 25px;
               color: white;
               width: 100%;
        }

        table tr td{
               border-radius: 10px;
               border: 1px solid orangered;
               width: 70px;
               border-spacing: 40px;
          font-weight: bold;
          word-spacing: 0px;
            color: white;
            text-decoration: underline;
               font-size: 12px;
        }
a{
       
       width: 10px;
       color: white;
}


        h1 {
            font-size: 30px;
            letter-spacing: 2px;
               word-spacing: 6px;
        }
h2{
       font-size: 53px;
}
h3{
       font-size: 25px;
}
        .container {
            max-width: 900px;
            margin: 10px;
            padding: 20px;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 25px;
        }

        img {
               margin-left: 20px;
               box-shadow: 3px 3px 43px 1px orange;
               border: 2px solid aqua;
            width: 250px;
            border-radius: 15px;
            margin-top: 40px;
        }

        .p{
               color: aqua;
               font-weight: bold;
               text-shadow: 3px 1px 2px black;
            font-size: 15px;
               font-family: serif;
            line-height: 2;
            margin: 10px;
        }
         p{
               color: aqua;
               font-weight: bold;
               text-shadow: 3px 1px 2px black;
               font-family: cursive;
            font-size: 22px;
            line-height: 2;
            margin: 10px;
        }
#a{
       background: linear-gradient(35deg, #B10000, #FF4C4C, #FFB3B3);

}

