

     body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background: linear-gradient( #00FF7F, #32FF9A, #C1FFD5);

            color: white;
            text-align: center;
        }

        
        table {
               
               margin: 0;
          border-spacing: 10px;
               height: 25px;
               color: white;
               width: 100%;
        }

        table tr td{
               border-radius: 10px;
               border: 1px solid orangered;
               width: 70px;
               border-spacing: 40px;
          font-weight: bold;
          word-spacing: 0px;
            color: white;
            text-decoration: underline;
               font-size: 12px;
        }
#aout{
       
       border-radius: 20px;
}
a{
       text-shadow: 1px 1px 4px black;
       width: 10px;
       color: white;
}


        h1 {
            font-size: 30px;
            letter-spacing: 2px;
               word-spacing: 6px;
        }
#home h2{
       color: aqua;
       text-shadow: 3px 3px 4px black;
       font-family: cursive;
       font-size: 21px;
}
input{
       letter-spacing: 1px;
       word-spacing: 3px;
       box-shadow: 5px 0px 0px 1px blue;
       border: 1px solid red;
       margin-top: 50px;
       margin-left: 5px;
       border-radius: 90px;
       text-align: center;
       width: 85%;
       height: 40px;
       background: aquamarine;
       font-family: casual;
       font-weight: bolder;
       color: chocolate;
       font-size: 16px;
}

.w{
       text-shadow: 3px 3px 4px yellow;
       color: red;
       font-family: casual;
       font-size: 22px;
       margin-top: 0px;
       margin-left: 0px;
       font-weight: bold;
}
.ww{
       font-weight: bold;
       text-shadow: 3px 3px 4px yellow;
       color: red;
       font-family: casual;
       font-size: 22px;
       height: 63px;
       margin-left: 10px;
}
.www{
       font-weight: bold;
       text-shadow: 3px 3px 4px yellow;
       color: red;
       font-family: casual;
       font-size: 22px;
       margin-top: 0px;
       margin-left: 10px;
}
