
    
        body {
            margin: 0;
            font-family: Arial;
        }

        /* Simple Indian Flag Background */
        .saffron {
            text-align: center;
            margin-top: 0;
            background-color: lightsalmon;
            height: 396px;
            padding: 20px;
        }
h1{
    letter-spacing: 20px;
    margin-top: 120px;
    font-size: 100px;
}
        .white {
            margin-top: 30px;
            border-radius: 90px;
            font-family: cursive;
            background: whitesmoke;
            color: darkblue;
            padding: 10px;
            text-align: center;
            text-shadow: 3px 3px 3px yellow;
        }


table{
    background-color: sandybrown;
  margin-top: 0px;
  border-spacing: 30px;
  font-size: 37px;
  border: 0px solid black;
  margin-left: 0px;
    height: 180px;
  width: 100%;
}
        table tr td{
  color: aqua;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
  border: 2px solid black;
  background: sandybrown ;
  box-shadow: 9px 3px 24px 0px salmon;
}
td a{
   text-shadow: 3px 5px 2px black;
  color: gold;
}
.a{
  border: 2px solid blue;
  margin-bottom: 20px;
  margin-left: 26px;
  width:94%;
  border-radius: 60px;
  height: 11210px;
  background: linear-gradient(lemonchiffon, lightskyblue, navajowhite );
}
p{
    font-size: 70px;
}
.white h2{
    color: crimsonl;
}
