     body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background: linear-gradient(#0A1A2F, skyblue, skyblue);
            color: white;
            text-align: center;
        }

        table {
               
               margin: 0;
          border-spacing: 10px;
               height: 25px;
               color: white;
               width: 100%;
        }

        table tr td{
               border-radius: 10px;
               border: 1px solid orangered;
               width: 70px;
               border-spacing: 40px;
          font-weight: bold;
          word-spacing: 0px;
            color: white;
            text-decoration: underline;
               font-size: 12px;
        }
a{
       
       width: 10px;
       color: white;
}


        h1 {
            font-size: 30px;
            letter-spacing: 2px;
               word-spacing: 6px;
        }
video{
  border: 4px solid yellow;
  opacity: 90%;
  background: aquamarine;
  background-size: 00px;
  
  width: 259px;
  height: 460.5px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-left: 5px;
}
video source{
  width: 134px;
  padding-left: 33px;
  background-size: auto;
}
h2{
       font-size: 53px;
}
h3{
       font-size: 25px;
}
        .container {
            max-width: 900px;
            margin: 10px;
            padding: 20px;
            background: lightskyblue;
            border-radius: 25px;
        }

        img {
            width: 250px;
            border-radius: 15px;
            margin-top: 20px;
        }

        .p{
               color: aqua;
               font-weight: bold;
               text-shadow: 3px 1px 2px black;
            font-size: 15px;
               font-family: serif;
            line-height: 2;
            margin: 10px;
        }
         p{
               color: aqua;
               font-weight: bold;
               text-shadow: 3px 1px 2px black;
               font-family: cursive;
            font-size: 22px;
            line-height: 2;
            margin: 10px;
        }
.footer{
       font-size: 20px;
       margin-top: 20px;
       height: 30px;
       background: white;
       color: black;
       font-family: serif;
       font-weight: bold;
       text-align: justify-all;
             }
#a{
       background: linear-gradient(35deg, #B10000, #FF4C4C, #FFB3B3);

}
